<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    					http://www.springframework.org/schema/beans/spring-beans.xsd
    					http://www.springframework.org/schema/mvc
    					http://www.springframework.org/schema/mvc/spring-mvc.xsd
    					http://www.springframework.org/schema/context
    					http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

  <bean id="bean1" class="com.spring.bean.Bean1">
      <property name="age" value="10"/>
      <property name="name" value="张三"/>
      <property name="mapValue" >
          <map>
              <entry key="张三" value="20"/>
              <entry key="李四" value="30"/>
              <entry key="王五" value="50"/>
          </map>
      </property>
      <property name="listValue">
          <list>
              <value>100</value>
              <value>200</value>
              <value>300</value>
              <value>400</value>
              <value>500</value>
          </list>
      </property>
  </bean>

    <bean id="dateC" class="com.spring.bean.DateC">
        <property name="date" value="2019-1-32"/>

    </bean>

    <bean  class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors" >
            <map>
                <entry key="java.util.Date" value="com.spring.data1.DateConvert"/>
            </map>
        </property>
    </bean>
</beans>